/*!
Document   : ycmystyle.css
Created on : Apr 21, 2017

Author     : Kevin Kim, Yoonsuk Cho
PROG3180 Final Projrct
*/

#myImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

#ycBtnCancel {
    background-color: #ffff00;
    border-color: rgba(223, 220, 51, 0.6);
    color: #000000;
    text-shadow: 0 1px 0 #dddddd;

}

#ycBtnCancel:hover  {
    background-color: #eeee00;
    border-color: #eeee00;
}

#ycBtnCancel:active {
    color: #000000;
    text-shadow: 0 2px 0 #ffff00;
    box-shadow: 0 0 3px 5px rgba(51,136,204,.2);
}


.kkycBtnBlue {
    background-color: #3388cc !important;
    border-color: #3388cc !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #444444 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.kkycBtnBlue:hover  {
    background-color: #22aadd !important;
    border-color: #22aadd !important;
}

.kkycBtnBlue:active {
    color: #000000 !important;
    text-shadow: 0 2px 0 #cccccc !important;
}

#kkycDetail input {
    background-color: #f9f9f9;
    font-weight: bold;
    border-style: none;
}

#kkycDetail .ui-input-text {
    border-color: #f9f9f9;
}

#kkycDetail  textarea {
    background-color: #f9f9f9;
    font-weight: bold;
    box-shadow: none;
    border-style: none;

}

/*
#ycBizName, #ycRevEmail, #ycEditBizName, #ycEditRevEmail, #ycDefaultEmail {
    background: white url("../img/27b0.png") right no-repeat;
    background-size: 18px;
    padding-right: 2px;
}
*/

label.error{
    color: #F00;
    font-weight: bold;
}

#kkycDetail span {
    margin-top: .5em;
    display: block;
    font-weight: bold;
}

input.error,
select.error,
textarea.error {
    border: 1px red solid;
}
