@model WebUI.Models.Products

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Products</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="productName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="productPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="productPrice" class="form-control" />
                <span asp-validation-for="productPrice" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="productImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="productImage" class="form-control" onblur="setProductPicture();"/>
                <span asp-validation-for="productImage" class="text-danger" />
            </div>
        </div>
        <div class="col-md-12">
            <img class="productPicture"/>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
