@model WebUI.Models.Qnas

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Qnas</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="qnaId" />
        <div class="form-group">
            <label asp-for="title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="content" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="content" class="form-control" rows="5" >
                </textarea>
                <span asp-validation-for="content" class="text-danger" />
            </div>
        </div>
        <fieldset disabled>

            <div class="form-group">
                <label asp-for="createDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="createDate" class="form-control" type="datetime-local" />
                    <span asp-validation-for="createDate" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="customerID" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="customerID" class="form-control" />
                    <span asp-validation-for="customerID" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
            <label asp-for="view" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="view" class="form-control" />
                <span asp-validation-for="view" class="text-danger" />
            </div>
                </div>
        </fieldset>
        <input type="hidden" asp-for="customerID" />
        <input type="hidden" asp-for="view" />
        <input type="hidden" asp-for="createDate" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
