<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>KKYCLoanServlet</servlet-name>
        <servlet-class>club.cart.KKYCLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KKYCCartServlet</servlet-name>
        <servlet-class>club.cart.KKYCCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KKYCClearCartServlet</servlet-name>
        <servlet-class>club.cart.KKYCClearCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KKYCAddBookServlet</servlet-name>
        <url-pattern>/KKYCAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KKYCLoanServlet</servlet-name>
        <url-pattern>/KKYCLoan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KKYCDisplayBooks</servlet-name>
        <servlet-class>club.admin.KKYCDisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KKYCAddBookServlet</servlet-name>
        <servlet-class>club.admin.KKYCAddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KKYCDisplayBooks</servlet-name>
        <url-pattern>/KKYCDisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KKYCCartServlet</servlet-name>
        <url-pattern>/KKYCCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KKYCClearCartServlet</servlet-name>
        <url-pattern>/KKYCClearCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>KKYCIndex.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Books file location parameter</description>
        <param-name>booksFilePath</param-name>
        <param-value>/WEB-INF/books.txt</param-value>
    </context-param>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/KKYCError.jsp</location>
    </error-page>
</web-app>
